.canvas-container {
  width: 100vw;
  height: 100vh;
  background-image: url('./textures/policy_updates.jpg');
  
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top right;
  
  
}

canvas {
  background-color: transparent !important;
  display: block; 
}